<div class="container mt-4">
  <div class="formulario">
    <div class="encabezado">
      <h1 class="nota">Registro de productos</h1>
      <p class="text-muted mb-2">Recuerde ingresar todos los campos</p>
    </div>
    <p class="datos">Código:</p>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          pattern="[a-zA-Z0-9]*"
          formControlName="codigo"
          placeholder="Código"
        >
        <span
          class="text-danger"
          *ngIf="formulario.get('codigo') && formulario.get('codigo')!.errors && formulario.get('codigo')!.touched"
        >
          Por favor, ingrese un valor válido.
        </span>
      </div>

      <p class="datos">Nombre:</p>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          formControlName="nombre"
          placeholder="Nombre"
        >
        <span
          class="text-danger"
          *ngIf="formulario.get('nombre') && formulario.get('nombre')!.errors && formulario.get('nombre')!.touched"
        >
          Por favor, ingrese solo texto
        </span>
      </div>

      <p class="datos">Precio de compra:</p>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          formControlName="precioCompra"
          placeholder="Precio de compra"
        >
        <span
          class="text-danger"
          *ngIf="formulario.get('precioCompra') && formulario.get('precioCompra')!.errors && formulario.get('precioCompra')!.touched"
        >
          Por favor, ingrese solo texto
        </span>
      </div>

      <!-- Nuevo Componente -->
      <h2 class="mt-4">Forma de venta</h2>
      <div formArrayName="formasVenta">
        <div *ngFor="let forma of formasVenta.controls; let i = index" [formGroupName]="i">
          <div class="row">
            <div class="col-md-4">
              <input
                type="text"
                class="form-control"
                formControlName="nombre"
                placeholder="Nombre"
              >
            </div>
            <div class="col-md-4">
              <input
                type="text"
                class="form-control"
                formControlName="precio"
                placeholder="Precio"
              >
            </div>
            <div class="col-md-4">
              <input
                type="number"
                class="form-control"
                formControlName="cantidad"
                placeholder="Cantidad"
              >
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-secondary mt-2" (click)="agregarFila()">+</button>
      <!-- Fin del nuevo componente -->

      <div class="form-group">
        <p class="datos">Tipo de impuesto</p>
        <select
          class="form-control"
          formControlName="impuesto"
        >
          <option *ngFor="let impuesto of tipoImpuesto; let i = index" [value]="i">
            {{impuesto}}
          </option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">
        Guardar Datos
      </button>
    </form>
  </div>
</div>
