<div class="container mt-4">
  <div class="formulario">
    <div class="encabezado">
      <h1 class="nota">Registro de productos</h1>
      <p class="text-muted mb-2">Recuerde ingresar todos los campos</p>
    </div>
    <p class="datos">Código:</p>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          pattern="[a-zA-Z0-9]*"
          formControlName="codigo"
          placeholder="Código"
          (input)="validarCodigo($event)"
        >
        <span
          class="text-danger"
          *ngIf="formulario.get('codigo') && formulario.get('codigo')!.errors && formulario.get('codigo')!.touched"
        >
          Por favor, ingrese un valor válido.
        </span>
        <span class="text-warning" *ngIf="existe">
          Código de producto ya existe
        </span>
      </div>

      <p class="datos">Nombre:</p>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          formControlName="nombre"
          placeholder="Nombre"
        >
        <span
          class="text-danger"
          *ngIf="formulario.get('nombre') && formulario.get('nombre')!.errors && formulario.get('nombre')!.touched"
        >
          Por favor, ingrese solo texto
        </span>
      </div>

      <!-- Nuevo Componente -->
      <p class="mb-2">Formas de venta del producto:</p>
      <div class="table-responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let forma of formasDeVenta; let i = index">
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="formasDeVenta[i].nombre"
                  placeholder="Nombre"
                  required
                >
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="formasDeVenta[i].precio"
                  placeholder="Precio"
                  required
                >
              </td>
              <td>
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="formasDeVenta[i].cantidad"
                  placeholder="Cantidad"
                  required
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button type="button" class="btn btn-secondary" (click)="agregarFila()">+</button>
      <!-- Fin del nuevo componente -->

      <div class="form-group">
        <p class="datos">Tipo de impuesto</p>
        <select
          class="form-control"
          formControlName="impuesto"
        >
          <option *ngFor="let impuesto of tipoImpuesto; let i = index" [selected]="i == 0" [value]="i">
            {{impuesto}}
          </option>
        </select>
      </div>


      <button type="submit" class="btn btn-primary">
        Guardar Datos
      </button>
    </form>
  </div>
</div>
