.formulario {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
}

.formulario .nota {
  color: #000000;
  width: 100%;
  display: flex;
  justify-content: left;
}

.encabezado{
  padding-bottom: 20px;
}

.formulario p {
  margin-bottom: 15px;
}

.formulario .form-group {
  margin-bottom: 15px;
}

.formulario .form-control {
  border-radius: 5px;
}

.formulario button {
  border-radius: 5px;
}

@media (max-width: 576px) {
  .formulario {
    padding: 15px;
  }
}
