.pop-up{
  background-color: rgb(255, 255, 255);
  max-width: 600px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;  
  align-items: center;
  padding: 20px;
}

.pop-up form{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.pop-up form input, .pop-up form select, .pop-up form button{
  width: 100%;
  height: 40px;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}

.pop-up form input.fecha{
  padding-right: 10px;
}

.pop-up form input:focus{
  border: 1px solid rgb(67, 164, 255);
}

.pop-up form button{
  border-radius: 20px;
  background-color: rgb(67, 164, 255);
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  border: none;
}

form div span{
  font-size: 12px;
  color: #e24444;
  display: block;
  margin-top: 5px;
}

form div{
  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
  .pop-up form{
    grid-template-columns: repeat(2, 1fr);
  }
}
