/* Estilos generales */
#img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s;
  cursor: pointer;
  transition: 0.5s;
}

#container {
  height: 100%;
}

.datos {
  margin-top: 1rem;
  padding-right: 70px;
  padding-left: 70px;
}

#btn-crear-cuenta {
  background: linear-gradient(#fff, #fff) padding-box,
              linear-gradient(120deg, rgb(67, 164, 255), rgb(34, 86, 134)) border-box;
  color: #313149;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 10px;
  display: inline-block;
  font-size: 12px;
}

.block-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.col-left {
  margin-top: 2%;
}

.label {
  text-align: left;
}

.center-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25%;
  margin-left: 10%;
  margin-right: 10%;
}

#bienvenido {
  font-size: 15px;
  font-weight: extra-light;
  color: #313149;
  margin-bottom: 10px;
}

#iniciar-sesion {
  font-size: 40px;
  font-weight: bold;
  color: #313149;
  margin-bottom: 40px;
}

label {
  font-size: 15px;
  color: #313149;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border: 2px solid #d6d6d6;
  border-radius: 10px;
  margin-bottom: 20px;
  min-height: 50px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:hover {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input:focus {
  border: 2px solid #313149;
  outline: none;
}

.btn-grad {
  background-image: linear-gradient(to right, rgb(67, 164, 255) 0%, rgb(34, 86, 134)  51%, rgb(67, 164, 255)  100%);
  margin: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border-color: transparent;
  display: block;
  margin-top: 15%;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#titulo {
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(to right, #ff0000, #00ff00);
  background-clip: text;
  margin-bottom: 10px;
}

#subtitulo {
  font-size: 15px;
  font-weight: extra-light;
  color: #313149;
  margin-bottom: 10px;
}

.head{
  padding-bottom: 100px;
}

.card {
  border-radius: 10px;
  border-color: transparent;
  margin: 10px;
}

@media screen and (min-width: 768px) {
  .btn-grad {
    padding: 15px 45px;
  }
}

@media screen and (max-width: 768px) {
  #container {
    position: relative;
  }

  .btn-grad {
    padding: 10px 20px;
  }

  #img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    overflow: hidden;
    opacity: 0.5;
  }
  
  .col-left {
    z-index: 1;
    padding: 20px;
    border-radius: 10px;
  }

  .datos {
    padding-right: 20px;
    padding-left: 20px;
  }

  #titulo, #subtitulo {
    text-align: center;
  }
}
