<div class="container-fluid" id="container">
  <div class="row">
    <div class="col-lg-6 col-left">
      <div class="row">
        <div class="col-lg-12 block-info">
          <h5 id="titulo">Remates la 7ma</h5>
          <h6 id="subtitulo">Sistema Integrado de facturación y ventas</h6>
        </div>
      </div>

    <div class="datos">
      <div class="col-lg-12 block-info">
        <p id="bienvenido">¡Bienvenido de nuevo!</p>
        <h3 id="iniciar-sesion">Inicia sesión</h3>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="login">
        <div>
          <label class="label" for="username">Nombre de Usuario:</label>
          <input class="form-control username" type="text" id="username" formControlName="username" placeholder="Escribe tu usuario aquí">
        </div>
        <div>
          <label class="labe" for="password">Contraseña:</label>
          <input class="form-control" type="password" id="password" formControlName="password" placeholder="Escribe tu contraseña aquí">
        </div>
        <p *ngIf="mensajeLogin">{{mensajeLogin}}*</p>
        <button class="btn-grad mx-auto d-block btn-login" id="btn-iniciar-sesion" type="submit" [disabled]="loginForm.invalid" (click)="login()">Iniciar Sesión</button>
      </form>
    </div>
  </div>
  <div class="col-lg-6">
    <img src="../../assets/fondo.jpeg" alt="login" class="img-fluid" id="img">
  </div>

  </div>
</div>