<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="rojo">
        Gestion de Clientes
      </h1>
    </div>
    <div class="col-8 col-sm-8 col-md-9 col-lg-10 col-xl-10 col-xxl-10">
      <div class="buscar">
        <input type="text" id="buscar" (keyup)="buscar($event)" placeholder="  Buscar cliente...">
      </div>
    </div>
    <div class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2 col-xxl-2">
      <button id="nuevo" class="btn btn-primary" routerLink="/app/cliente/nuevo">Nuevo</button>
    </div>
  </div>

<h6 class="totalClientes">Se han encontrado {{ totalClientes }} clientes.</h6>

  <div class="table-container">
    <div class="separador">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>CC</th>
              <th>Nombre</th>
              <th>Direccion</th>
              <th class="d-none d-md-table-cell">Correo</th>
              <th class="d-none d-md-table-cell">Activo</th>
              <th class="d-none d-md-table-cell">FechaCreacion</th>
              <th class="eliminar">Acciones</th>
          </tr>
          </thead>
          <tbody>
            @for(cliente of filtroClientes; track cliente.id){
              <tr>
                <td>{{ cliente.cedula }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.direccion }}</td>
                <td class="d-none d-md-table-cell">{{ cliente.correo }}</td>
                <td class="d-none d-md-table-cell">{{ cliente.activo == true ? "Si":"No"}}</td>
                <td class="d-none d-md-table-cell">{{ cliente.fechaCreacion | date }}</td>
                <td class="eliminar">
                  <button (click)="eliminarPorId(cliente.id)">❌</button>
                  <button class="editar" (click)="toggleModoEdicion(cliente)">✏️</button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>

    <div class="pup-up" [ngClass]="{ 'oculto': modoOculto }">
      <div class="pop-up-container">
        <span class="cerrar" (click)="editarModoOcuto()">❌</span>
        <app-editar-cliente class="editar" [personaEditar]="personaEditar" (modoOculto)="editarModoOcuto()"></app-editar-cliente>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center mt-3">
    <button class="btn btn-primary rounded-circle mx-2" 
            (click)="paginaAnterior()" 
            [disabled]="paginaActual === 0">
      &lt;
    </button>
    <span class="fw-bold mx-2">
      {{ paginaActual + 1 }} / {{ totalPaginas}}
    </span>
    <button class="btn btn-primary rounded-circle mx-2" 
            (click)="paginaSiguiente()" 
            [disabled]="paginaActual === totalPaginas - 1">
      &gt;
    </button>
  </div>
</div>