<div class="temporal">

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="rojo">
        Historial de ventas
      </h1>
    </div>
    <div class="col-12">
      <div class="buscar">
        <input type="text" id="buscar" (keyup)="buscar($event)" placeholder="  Buscar factura de venta">
      </div>
    </div>
  </div>
</div>
  
<div class="container">
  <div class="table-container">
    <div class="separador">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Num Factura</th>
            <th>Rut</th>
            <th>Subtotal</th>
            <th>IVA</th>
            <th>total</th>
            <th class="eliminar">Acciones</th>
          </tr>
        </thead>
        

        <tbody>

          <tr *ngFor="let factura of facturasFiltradas">
            <td>{{ factura.idFcatura }}</td>
            <td>{{ factura.numeroFactura }}</td>
            <td >{{ factura.rucCliente }}</td>
            <td>{{ factura.subtotal }}</td>
            <td>{{ factura.igv }}</td>
            <td>{{ factura.total }}</td>
            <td class="eliminar">
              <button (click)="eliminarPorId(factura.idFcatura)">❌</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>
<p class="rojo">La suma es: {{ sumaTotal }}</p>
</div>