/* Estilo general */
body {
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Estilo del formulario */
.formulario {
  background: #fff;
  border-radius: 8px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[list] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

input.disabled-input {
  background-color: #e9ecef;
  cursor: not-allowed;
}

button {
  width: 100%;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-top: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button#verde{
  background-color: #28a745;
}

button#azul{
  background-color: #007bff;
}

button#azul:hover {
  background-color: #0056b3;
}

button#verde:hover {
  background-color: #218838;
}

button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

p.rojo{
  color: #000000;
  width: 100%;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}

/* Estilo de la tabla */
.table-responsive {
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f9;
}

.eliminar button {
  background-color: transparent;
}

td.eliminar, th.eliminar{
  text-align: center;
  display: flex;
  justify-content: center;
}

.eliminar button:hover {
  background-color: #c82333;
}

.sin-datos-tabla {
  text-align: center;
  color: #666;
}

/* Estilo de las notificaciones y mensajes */
span {
  color: #dc3545;
  font-size: 0.9em;
}

p.impuesto-usado {
  font-weight: bold;
}

.valores-a-pagar p {
  font-size: 1.2em;
}

.valores-a-pagar span {
  font-weight: bold;
}

.nuevo-usuario {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(175, 175, 175, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.nuevo-usuario.oculto {
  visibility: hidden;
  opacity: 0;
}

.nuevo-usuario:not(.oculto) {
  visibility: visible;
  opacity: 1;
}

.nuevo-usuario .cerrar {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 2em;
  color: white;
}

.card{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.alinear-derecha {
  text-align: right;
}
