<div class="formulario">
  
  <div class="productos">
    <label for="">Productos</label>
  
  <div [formGroup]="productosForm">
    <div class="row">
          <div class="col-lg-3">
            <p>Id producto:</p>
            <input (focus)="listarProductos()" 
            type="text" list="productos" 
            (input)="seleccionarProducto()" 
            formControlName="codProducto" 
            placeholder="productos"
            >

            <datalist id="productos" >
              <option *ngFor="let producto of productos" [value]="producto.codigo">{{producto.nombre}}</option>
            </datalist>
        
            <span *ngIf="productosForm.get('codProducto')!.invalid && (productosForm.get('codProducto')!.dirty || productosForm.get('codProducto')!.touched)">
              Por favor, ingrese un valor válido.
            </span>
  
          </div>

          <div class="col-lg-2">
            <div>
            <p>Nombre producto:</p>
            <input class="disabled-input"  type="text" formControlName="nombreProducto" placeholder="Nombre del producto" [value]="productoSeleccionado?.nombre">
            <span *ngIf="productosForm.get('nombreProducto')!.invalid && (productosForm.get('nombreProducto')!.dirty || productosForm.get('nombreProducto')!.touched)">
              Por favor, ingrese un valor válido.
            </span>
            </div>
          </div>

          <div class="col-lg-2">
            <div>
            <p>Precio:</p>
            <input class="disabled-input"  type="number" formControlName="precioProducto" placeholder="Precio del producto" [value]="productoSeleccionado?.precio" >
            <span *ngIf="productosForm.get('precioProducto')!.invalid && (productosForm.get('precioProducto')!.dirty || productosForm.get('precioProducto')!.touched)">
              Por favor, ingrese un valor válido.
            </span>
            </div>
          </div>

          <div class="col-lg-2">
            <div>
              <p>Cantidad:</p>
              <input min="1" type="number" formControlName="cantidadProducto" placeholder="Cantidad del producto" (keyup)="validarStock($event)">
              <span *ngIf="productosForm.get('cantidadProducto')?.hasError('cantidadInvalida')  && productosForm.get('cantidadProducto')!.invalid && (productosForm.get('cantidadProducto')!.dirty || productosForm.get('cantidadProducto')!.touched)">
              Por favor, ingrese un valor válido.
              </span>
              <span *ngIf="!hayStock">*Valor mayor al stock disponible</span>
            </div>
          </div>

          <div class="col-lg-3">
            <p *ngIf="this.productosForm.get('nombreProducto')?.value" ></p>
            <button (click)="agregarProducto()">➕ Agregar producto</button>
          </div>
      </div>
  </div>

  <div class="separador">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Cod Producto</th>
                <th>Nombre Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th class="eliminar">Acciones</th>
              </tr>
            </thead>
        
            <tbody>
              <tr *ngFor="let listProducto of listProductos">
                <td>{{ listProducto.codProducto }}</td>
                <td >{{ listProducto.nombreProducto }}</td>
                <td>{{ listProducto.precioProducto }}</td>
                <td>{{ listProducto.cantidadProducto }}</td>
                <td id="eliminar" class="eliminar">
                <button (click)="eliminarPorId(listProducto)">❌</button>
                </td>
              </tr>
              <tr class="sin-datos-tabla" *ngIf="listProductos.length === 0">No hay productos registrados*</tr>
            </tbody>
          </table>
        </div>
  </div>


  <div class="alinear-derecha">
  <div class="valores-a-pagar">
    <p><span>Subtotal: </span> {{subtotal | currency }}  </p>
    <p><span>IVA ({{porcentajeIva}}%):</span> ${{igv | number: '1.2-2' }}</p>
    <p><span>Totala a pagar:</span> ${{total | number: '1.2-2'  }}</p>
   
    </div>
  </div>
  
  <label for="">Datos factura</label>
  
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">


    <div class="row">
      <div class="col-lg-1">
      <input class="disabled-input"  type="text" formControlName="numFactura" placeholder="numFactura">
      <span *ngIf="formulario.get('numFactura') && formulario.get('numFactura')!.errors && formulario.get('numFactura')!.touched">
        Por favor, ingrese solo texto en el campo de nombre.
      </span>
    </div>


    <div class="col-lg-2">

      <input (focus)="listarClientes()" type="text" list="cliente" (input)="seleccionarCliente()" formControlName="cliente" placeholder="cedula cliente">
      
      <datalist id="cliente" >
        <option *ngFor="let cliente of clientes" [value]="cliente.idCliente">{{cliente.nombre}}</option>
      </datalist>
      
      <span *ngIf="formulario.get('cliente')!.invalid && (formulario.get('cliente')?.dirty || formulario.get('cliente')?.touched)">
        Por favor, ingrese un correo válido.
      </span>

    </div>
    
    
    <div class="col-lg-2">
      
      <input class="disabled-input"  type="text" formControlName="nombre" placeholder="nombre" [value]="clienteSeleccionado?.cedula" >
      <span *ngIf="formulario.get('nombre')!.invalid && (formulario.get('nombre')!.dirty || formulario.get('nombre')!.touched)">
        Por favor, ingrese un valor válido.
      </span>
    </div>

    <div class="col-lg-2">
      <input class="disabled-input" type="text" formControlName="direccion" placeholder="direccion" [value]="clienteSeleccionado?.direccion" >
      <span *ngIf="formulario.get('direccion')!.invalid && (formulario.get('direccion')!.dirty || formulario.get('direccion')!.touched)">
        Por favor, ingrese un valor válido.
      </span>
    </div>
    
    <div class="col-lg-3 btn-nuevo-cont">
      <button routerLink="/app/cliente/nuevo" class="btn-nuevo">➕ Nuevo usuario</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-9">
    </div>
    <div class="col-lg-3 text-right">
      <button type="submit" class="btn btn-primary">Vender</button>
    </div>
  </div>
  
  </form>
  



  <div class="nuevo-usuario" [ngClass]="{ 'oculto': modoOculto }">
    <span class="cerrar" (click)="cambiarModoOculto()">❌</span>
    <app-nuevo></app-nuevo>
  </div>
</div>