<div class="container">
  <div class="formulario">
    <div class="encabezado">
      <h1 class="nota">Configuración de Preferencias del Negocio</h1>
    </div>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

      <!-- Sección: Información legal (DIAN) -->
      <div class="seccion mb-4">
        <h2 class="mb-1">Información legal (DIAN)</h2>
        <p class="text-muted mb-2">En esta sección podrá modificar información legal del negocio con relación a la DIAN, esta información es necesaria tanto para la factura física como para la facturación electrónica. Antes de hacer algún cambio consulte con su contador.</p>
        <div class="row mt-4">
          <div class="col-md-6">
            <!-- Razón Social -->
            <div class="form-group mb-3">
              <label class="datos d-flex align-items-center">
                Razón Social:
                <span class="text-muted ms-2">Nombre oficial o titular del negocio.</span>
              </label>
              <input type="text" formControlName="razonSocial" class="form-control" [placeholder]="placeholders['razonSocial']">
              <small *ngIf="formulario.get('razonSocial')?.invalid && formulario.get('razonSocial')!.touched" class="text-danger">
                Por favor, ingrese un nombre válido.
              </small>
            </div>
          </div>
          <div class="col-md-6">
            <!-- NIT -->
            <div class="form-group mb-3">
              <label class="datos d-flex align-items-center">
                NIT:
              </label>
              <input type="text" formControlName="nit" class="form-control" [placeholder]="placeholders['nit']">
              <small *ngIf="formulario.get('nit')?.invalid && formulario.get('nit')!.touched" class="text-danger">
                Por favor, ingrese un NIT válido.
              </small>
            </div>
          </div>
          <div class="col-md-6">
            <!-- Resolución DIAN -->
            <div class="form-group mb-3">
              <label class="datos d-flex align-items-center">
                Resolución DIAN:
                <span class="text-muted ms-2">Número de la resolución emitida por la DIAN.</span>
              </label>
              <input type="text" formControlName="resolucionDIAN" class="form-control" [placeholder]="placeholders['resolucionDIAN']">
              <small *ngIf="formulario.get('resolucionDIAN')?.invalid && formulario.get('resolucionDIAN')!.touched" class="text-danger">
                Por favor, ingrese un número válido.
              </small>
            </div>
          </div>
          <div class="col-md-6">
            <!-- Fecha de Expedición -->
            <div class="form-group mb-3">
              <label class="datos d-flex align-items-center">
                Fecha de Expedición de la resolución:
              </label>
              <input type="date" formControlName="fechaExpedicionDIAN" class="form-control" [placeholder]="placeholders['fechaExpedicionDIAN']">
              <small *ngIf="formulario.get('fechaExpedicionDIAN')?.invalid && formulario.get('fechaExpedicionDIAN')!.touched" class="text-danger">
                Por favor, seleccione una fecha válida.
              </small>
            </div>
          </div>
        </div>
      </div>

      <!-- Sección: Información del negocio -->
      <div class="seccion mb-4">
        <h2 class="mb-1">Información del Negocio</h2>
        <p class="text-muted mb-2">En esta sección podrá modificar la información física del negocio la cual será util y necesaria para generar la factura física.</p>
        <div class="row mt-4">
          <div class="col-md-6">
            <!-- Dirección -->
            <div class="form-group mb-3">
              <label class="datos d-flex align-items-center">
                Dirección del Negocio:
              </label>
              <input type="text" formControlName="direccion" class="form-control" [placeholder]="placeholders['direccion']">
              <small *ngIf="formulario.get('direccion')?.invalid && formulario.get('direccion')!.touched" class="text-danger">
                Por favor, ingrese una dirección válida.
              </small>
            </div>
          </div>
          <div class="col-md-6">
            <!-- Teléfono -->
            <div class="form-group mb-3">
              <label class="datos d-flex align-items-center">
                Teléfono:
              </label>
              <input type="tel" formControlName="telefono" class="form-control" [placeholder]="placeholders['telefono']">
              <small *ngIf="formulario.get('telefono')?.invalid && formulario.get('telefono')!.touched" class="text-danger">
                Por favor, ingrese un número de teléfono válido.
              </small>
            </div>
          </div>
          <div class="col-md-6">
            <!-- Correo Electrónico -->
            <div class="form-group mb-3">
              <label class="datos d-flex align-items-center">
                Correo Electrónico:
                <span class="text-muted ms-2">Necesario para la recepción de facturas.</span>
              </label>
              <input type="email" formControlName="correoElectronico" class="form-control" [placeholder]="placeholders['correoElectronico']">
              <small *ngIf="formulario.get('correoElectronico')?.invalid && formulario.get('correoElectronico')!.touched" class="text-danger">
                Por favor, ingrese un correo válido.
              </small>
            </div>
          </div>
          <div class="col-md-6">
            <!-- Porcentaje de IVA -->
            <div class="form-group mb-3">
              <label class="datos d-flex align-items-center">
                Porcentaje de IVA:
              </label>
              <input type="number" formControlName="iva" class="form-control" [placeholder]="placeholders['iva']" min="0" max="100">
              <small *ngIf="formulario.get('iva')?.invalid && formulario.get('iva')!.touched" class="text-danger">
                Por favor, ingrese un porcentaje válido.
              </small>
            </div>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-success w-100">
        Guardar Preferencias
      </button>
    </form>
  </div>
</div>
