.background {
  background: url('src/assets/fondo.jpeg') no-repeat center center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.titulo {
  padding-top: 150px;
  color: white;
}

.content {
  position: relative;
  z-index: 2;
}

.tarjetas{
  display: flex;
  justify-content: center;
  margin: 5px;
}

.more-content {
  background: white;
  padding: 50px 0;
}

.card-title, .card-text {
  color: #000;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.titulo h1 {
  font-size: 2rem;
  color: #fff;
}

.titulo p {
  font-size: 1rem;
  color: #fff;
  margin-top: 10px;
}

.content {
  padding: 20px;
}

@media (max-width: 1200px) {
  .background {
    background-position: calc(50% - 10%) center;
  }
}

@media (max-width: 992px) {
  .background {
    background-position: calc(50% - 20%) center;
  }
}

@media (max-width: 768px) {
  .background {
    background-position: calc(50% - 30%) center;
  }
}

@media (max-width: 576px) {
  .background {
    background-position: calc(50% - 40%) center;
  }
}
