<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="rojo">
        Gestion de Productos
      </h1>
    </div>
    <div class="col-8 col-sm-8 col-md-9 col-lg-10 col-xl-10 col-xxl-10">
      <div class="buscar">
        <input type="text" id="buscar" (keyup)="buscar($event)" placeholder="  Escanear o escribir código">
      </div>
    </div>
    <div class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2 col-xxl-2">
      <button id="nuevo" class="btn btn-primary" routerLink="/app/producto/nuevo">Nuevo</button>
    </div>
  </div>

<h6 class="totalProductos">Se han encontrado {{ totalProductos }} productos.</h6>

<div class="table-container">
  <div class="separador">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Activo</th>
            <th class="d-none d-md-table-cell">FechaCreacion</th>
            <th class="eliminar">Acciones</th>
          </tr>
        </thead>
        

        <tbody>
          <!-- <tr *ngFor="let persona of personas"> -->
          <tr *ngFor="let producto of filtroProductos; let i=index">
            <td>{{ producto.codigo }}</td>
            <td >{{ producto.nombre }}</td>
            <td>$ {{ producto.precio | number:'1.0-0' }}</td>
            <td [ngClass]="{'red': producto.cantidad < 5}">{{ producto.cantidad }}</td>
            <td>{{ producto.activo == true ? "Sí": "No" }}</td>
            <td class="d-none d-md-table-cell">{{ producto.fechaCreacion | date }}</td>
            <td class="eliminar">
              <button (click)="eliminarProductoCodigo(producto.codigo)">❌</button>
              <button class="editar" (click)="toggleModoEdicion(producto)">✏️</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="pup-up" [ngClass]="{ 'oculto': modoOculto }">
    <div class="pop-up-container">
      <span class="cerrar" (click)="editarModoOcuto()">❌</span>
      <app-editar-producto class="editar" [productosEditar]="productosEditar" (modoOculto)="editarModoOcuto()" ></app-editar-producto>
      
    </div>
  </div>

  </div>
</div>