/* You can add global styles to this file, and also import other style files */
*{
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .container {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;
}
*/
.container .content {
  background-color: rgb(235, 235, 235);
  
}
.rutas{
  background-color: #fff;
  height: calc(100vh - 40px);
  margin: 20px 20px;
  border-radius: 20px;
} 

app-menu{
  background-color: rgb(235, 235, 235);
  /* border: 10px solid teal; */

  display: grid;
  grid-template-columns: 200px  0  1fr;
  height: 100vh;
  
}

