<div class="formulario">
  <div class="container">
  <div class="col-12">
    <h1 class="rojo">
      Hacer una venta
    </h1>
  </div>
  <div class="productos mt-4">
    <label for="">Producto a agregar:</label>

  <div [formGroup]="productosForm">
    <div class="row">
      <div class="col-lg-3">
        <p>Id producto:</p>
      </div>

      <div class="col-lg-2">
        <p>Nombre producto:</p>
      </div>

      <div class="col-lg-2">
        <p>Precio:</p>
      </div>

      <div class="col-lg-2">
          <p>Cantidad:</p>
      </div>

      <div class="col-lg-3">
          <p *ngIf="this.productosForm.get('nombreProducto')?.value" > *Tiene en stock: {{ stockProducto }}</p>
      </div>
    </div>

    <div class="row">
          <div class="col-lg-3">
            <input (focus)="listarProductos()"
            type="text" list="productos"
            (input)="seleccionarProducto()"
            formControlName="codigoProducto"
            placeholder="productos"
            >

            <datalist id="productos" >
              <option *ngFor="let producto of productos" [value]="producto.codigo">{{producto.nombre}}</option>
            </datalist>

            <span *ngIf="productosForm.get('codigoProducto')!.invalid && (productosForm.get('codigoProducto')!.dirty || productosForm.get('codigoProducto')!.touched)">
              Por favor, ingrese un valor válido.
            </span>

          </div>

          <div class="col-lg-2">
            <div>
            <input class="disabled-input"  type="text" formControlName="nombreProducto" placeholder="Nombre del producto" [value]="productoSeleccionado?.nombre">
            <span *ngIf="productosForm.get('nombreProducto')!.invalid && (productosForm.get('nombreProducto')!.dirty || productosForm.get('nombreProducto')!.touched)">
              Por favor, ingrese un valor válido.
            </span>
            </div>
          </div>

          <div class="col-lg-2">
            <div>
            <input class="disabled-input"  type="number" formControlName="precioProducto" placeholder="Precio del producto" [value]="productoSeleccionado?.precio" >
            <span *ngIf="productosForm.get('precioProducto')!.invalid && (productosForm.get('precioProducto')!.dirty || productosForm.get('precioProducto')!.touched)">
              Por favor, ingrese un valor válido.
            </span>
            </div>
          </div>

          <div class="col-lg-2">
            <div>
              <input min="1" type="number" formControlName="cantidadProducto" placeholder="Cantidad del producto" (keyup)="validarStock($event)">
              <span *ngIf="productosForm.get('cantidadProducto')?.hasError('cantidadInvalida')  && productosForm.get('cantidadProducto')!.invalid && (productosForm.get('cantidadProducto')!.dirty || productosForm.get('cantidadProducto')!.touched)">
              Por favor, ingrese un valor válido.
              </span>
              <span *ngIf="!hayStock">*Valor mayor al stock disponible</span>
            </div>
          </div>

          <div class="col-lg-3">
            <div>
              <button id="azul" (click)="agregarProducto()">Agregar producto</button>
            </div>
          </div>
      </div>
  </div>

  <div class="container">
    <div class="table-container">
      <div class="separador">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Cod Producto</th>
                <th>Nombre Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th class="eliminar">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let listProducto of listProductos">
                <td>{{ listProducto.codigoProducto }}</td>
                <td>{{ listProducto.nombreProducto }}</td>
                <td>$ {{ listProducto.precioProducto | number:'1.0-0' }}</td>
                <td>{{ listProducto.cantidadProducto }}</td>
                <td id="eliminar" class="eliminar">
                <button (click)="eliminarPorId(listProducto)">❌</button>
                </td>
              </tr>
              <tr class="sin-datos-tabla" *ngIf="listProductos.length === 0">
                <td colspan="5">
                  <div class="sin-datos-mensaje">No se han agregado productos</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="alinear-derecha">
  <div class="valores-a-pagar">
    <!-- <p><span>Subtotal: </span> {{subtotal | currency }}  </p> -->
    <p><span>IVA ({{porcentajeIva}}%):</span> ${{igv | number: '1.0-0' }}</p>
    <p><span>Total a pagar:</span> ${{total | number: '1.0-0'  }}</p>

    </div>
  </div>

  <label for="">Cliente: </label>

  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-lg-1">
        <p>No.Venta</p>
      </div>

      <div class="col-lg-2">
        <p>Cédula del cliente:</p>
      </div>

      <div class="col-lg-2">
        <p>Nombre:</p>
      </div>

      <div class="col-lg-2">
          <p>Dirección:</p>
      </div>

      <div class="col-lg-9">

      </div>
    </div>

    <div class="row">
      <div class="col-lg-1">
      <input class="disabled-input"  type="text" formControlName="numFactura" placeholder="numFactura">
      <span *ngIf="formulario.get('numFactura') && formulario.get('numFactura')!.errors && formulario.get('numFactura')!.touched">
        Por favor, ingrese solo texto en el campo de nombre.
      </span>
    </div>


    <div class="col-lg-2">

      <input (focus)="listarClientes()" type="text" list="cliente" (input)="seleccionarCliente()" formControlName="cliente" placeholder="Cédula del cliente">

      <datalist id="cliente" >
        <option *ngFor="let cliente of clientes" [value]="cliente.idCliente">{{cliente.nombre}}</option>
      </datalist>

      <span *ngIf="formulario.get('cliente')!.invalid && (formulario.get('cliente')?.dirty || formulario.get('cliente')?.touched)">
        Por favor, ingrese un correo válido.
      </span>

    </div>


    <div class="col-lg-2">

      <input class="disabled-input"  type="text" formControlName="nombre" placeholder="Nombre" [value]="clienteSeleccionado?.cedula" >
      <span *ngIf="formulario.get('nombre')!.invalid && (formulario.get('nombre')!.dirty || formulario.get('nombre')!.touched)">
        Por favor, ingrese un valor válido.
      </span>
    </div>

    <div class="col-lg-2">
      <input class="disabled-input" type="text" formControlName="direccion" placeholder="Dirección" [value]="clienteSeleccionado?.direccion" >
      <span *ngIf="formulario.get('direccion')!.invalid && (formulario.get('direccion')!.dirty || formulario.get('direccion')!.touched)">
        Por favor, ingrese un valor válido.
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-9">
    </div>
    <div class="col-lg-3 text-right">
      <button type="submit" class="btn btn-primary" id="verde">Vender</button>
    </div>
  </div>

  </form>




  <div class="nuevo-usuario" [ngClass]="{ 'oculto': modoOculto }">
    <span class="cerrar" (click)="cambiarModoOculto()">❌</span>
    <app-nuevo></app-nuevo>
  </div>

</div>
</div>
